[info]
hostname = qualysapi.qg3.apps.qualys.com
username = xxxxxxxx
password = xxxxxxxx

[kernelcare]

keys = key1,key2,keyN

## When eportal is used you should redefine API endpoints
# patches-info = https://eportal.example.com/
# cln-info = https://eportal.example.com/admin/

